.phone_number_item_container {
    padding: 0 0.3rem;
    background-color: white;
}
.phone_number_price {
    display: inline-block;
    line-height: 1;
    text-align: center;
}
.font_style {
    font-size: 0.9rem;
    font-weight: bold;
    color: #FF6E27;
}
.phone_number {
    text-align: center;
    font-size: 1.2rem;
    font-weight: bold;
    color: #FF6E27;
}
.phone_number_item_container {
    display: flex;
    justify-content: space-around;
    font-size: 0.5em;
}
.phone_number_details {
    margin: 0.1rem 0.2rem;
}
.phone_number_price_details {
    margin: 0.6rem 0rem;
    display: flex;
    flex-flow: column wrap;
    justify-content: space-around;
}