.flag_container {
    display: flex;
    font-size: 16px;
    font-weight: bold;
    color: red;
}

.general_query_div {

    display: flex;
    align-items: center;
    font-weight: bold;
    color: #108ee9;
}